.recipes {
  color: #fff;
  background-color: #0a2750;
  margin: 0;
  padding: 100px 80px 215px;
  background-image: url("../images/se_project_2_files/background_recipes.svg");
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  max-height: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  max-height: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  font-family: "Inter", arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  border: none;
}
